<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
    <link rel="stylesheet" href="/static/styles/projects.css" />
  </head>
  <body>
    <h1 class="title">Projects</h1>

    <section class="project-grid">
      {% for project in projects %}

      <div class="project-preview">
        <div class="image-row">
          <img class="project-image" src="{{ project.image.url }}" alt="" />
        </div>

        <div class="project-link">
          <button onclick="window.open('{{ project.link }}', '_blank')">
            Go to project
          </button>
        </div>

        <div class="project-info-grid">
          <p class="project-title">{{ project.title }}</p>
          <p class="project-description">{{ project.description }}</p>
        </div>
      </div>

      {% endfor %}
    </section>
  </body>
</html>
